body{
    margin: 0;
    padding: 0;
    background-color: wheat;
}
.nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.nav .logo h1{
    font-weight: 800;
    font-family: sans-serif;
    color: orange;
    font-size: 40px;
    text-shadow: 20px 15px 20px green;
}
.nav ul a:hover{
    color: red;
    font-size: 23px;
}
.nav ul{
    display: flex;
    list-style: none;
}
.nav ul li{
    margin-right: 30px;
}
.nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: sans-serif;
}
.nav ul .active::after{
    content: '';
    width: 50%;
    height: 3px;
    background-color: #ff511c;
    display: flex;
    position: relative;
    margin-left: 10px;
}
input{
    cursor: pointer;
    font-weight: 500;
    padding: 10px 20px;
    font-size: 15px;
}
.signin{
    background: transparent;
    border: none;
}
.signup{
    background-color: orange;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 5px;
}
.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 80px 10%;
    background:#b6996c 100%;
    width: 100%;
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
}

.about-img {
    flex: 1 1 45rem;
}

.about-img img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.1);
}

.about-text {
    flex: 1 1 45rem;
}

.about-text span {
    color: #ff9f0d;
    font-weight: 600;
    text-transform: uppercase;
}

.about-text h2 {
    font-size: 2rem;
    margin: 1rem 0;
    line-height: 1.3;
}

.about-text p {
    font-size: 0.95rem;
    color: #666;
    margin-bottom: 1.5rem;
    line-height: 1.8;
}

.btn {
    display: inline-block;
    padding: 10px 25px;
    background: #ff9f0d;
    color: #fff;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: #e68a00;
    letter-spacing: 1px;
}


@media (max-width: 768px) {
    .nav{
        flex-direction: column;
        padding: 15px;
        gap: 10px;
    }
    .about {
        flex-direction: column;
        padding: 40px 20px;
        text-align: center;
        gap: 0;
        margin-left: 0;
        margin-right: 0;

    }
    .about-img, .about-text{
        flex: 1 1 100%;
        width: 100%;
    }
    .about-img img{
        width: 100%;
        max-width: 300px;
    }
    .about-img{
        margin-bottom: 0 !important;
    }
    .about-text{
        margin-top: 0 !important;
    }
}